.innertube{
    margin:10px;
}
#topcontent{
    position:absolute;
    height: 50px;
    background-color: navy;
    right:0;
    top:0;
    left:0;

}
#topleftcontent{
    position:relative;
    float:right;
    right:0;
    top:0;
    background-color:transparent;
    height:50px;
}
#maincontent{
    position:absolute;
    width:100%;
    top:51px;
}

ul{
    margin:0;
    padding:0;
}

li{
    display:inline;
    list-type:none;
}
a.glidebutton{
    display: inline-block;
    position: relative;
    margin-top:8.5px;
    margin-left:5px;
    color: #4A4A4A; /* default color */
    background: #ececec; /* default bg color */
    text-decoration: none;
    font: bold 14px Arial; /* font settings */
    letter-spacing: 2px; /* font settings */
    overflow: hidden;
    height: 30px; /* height of each button */
    text-align: center;
    border-radius: 5px; /* border radius */
    -moz-transition: all 0.3s ease-in-out; /* Enable CSS transition between property changes */
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a.glidebutton > span:first-child{ /* first span inside button */
    position: relative;
    display: block;
    height: 100%;
    padding: 6px; /* padding of button */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.3s ease-in-out; /* Enable CSS transition between property changes */
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a.glidebutton > span:first-child:after{ /* CSS generated content */
    content: attr(data-text); /* Duplicate text of span markup */
    display: block;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: inherit;
    position: absolute;
    top:100%;
    left:0;
}

a.glidebutton:hover{
    color: black; /* color of button on hover */
    background: #72cb47; /* bg color of button on hover */
    box-shadow: 0 0 4px green inset;
}

a.glidebutton:hover > span:first-child{
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

#tt-2_left_side{
    display:inline;
    width:50%;
}
#tt-2_right_side{
    display:inline;
    width:50%;
}